<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <meta charset="utf-8" />
    </head>
    <body>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-left">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">An appropriate title</a>
                </div>
                <!-- <ul class="nav navbar-nav"> -->
                    <!-- <label for="chart_ddl">Select chart:</label> -->
                    <span class="nav-item text-white">Chart: </span><select class="form-control" id="chart_ddl"><option>A</option><option>B</option></select>
                <!-- </ul> -->
            </div>
        </nav>
        {{chart_html | safe}}
    </body>
</html>

